<!doctype html>
<html>
    <head>
        <title>Watchtower</title>

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}">
	</head>
	
    <body>
        <div class="header">
            <h1 class="title {{ 'title--active' if active else 'title--inactive'}}">
                <a href="{{url_for('index')}}">WATCHTOWER<br/>1200</a>
            </h1>

            <form method="post" action="{{ url_for('api.toggle_active') }}">
                <button class="button button--big {{ 'button--inactive' if not active }}" type="submit">
                    {{ 'Deactivate' if active else 'Activate' }}
                </button>
            </form>
        </div>

       {% block content %}{% endblock %}
  	</body>
</html>
