{% extends "base.html" %}        

{% block content %}
    <div class="images">
        {% if images %}
            {%- for image in images %}
                <div class="image">
                    <a href="{{ image['url'] }}"><img src="{{ image['url'] }}"/></a>
                    
                    <div class="image__footer"> 
                        <h4>{{ image['date'] }}</h4>
                    
                        <form method="post" action="{{ url_for('api.picture', url=image['url']) }}">
                            <button  class="button" type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            {%- endfor %}
        {% else %}
            <p>
                No images found, so either no one has broke in or your code is broken... think about what is more
                likely.
            </p>
        {% endif%}
    </div>

    <p><a href="{{url_for('settings')}}">Camera settings</a></p>

    <form method="post" action="{{ url_for('api.picture') }}">
        <button class="button button--fab" type="submit">
            Picture
        </button>
    </form>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock%}
